<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Tic Tac Toe</title>
</head>
<body>
<div th:fragment="content">
    <h1>Currently playing...</h1>

    <p th:if="${message ne null}" class="alert alert-danger" th:text="${message}"></p>

    <p th:if="${game.status.name() == 'STARTED'}">Player <span th:text="${game.currentPlayer}">X</span>, this is your turn!</p>
    <p th:if="${game.status.name() == 'DRAW'}">This is a draw ! No winner... but no looser either!</p>
    <p th:if="${game.status.name() == 'FINISHED'}">Player <span th:text="${game.winner}">X</span> wins!</p>

    <table class="board">
        <tr th:each="row: ${#numbers.sequence(0, 2)}">
            <td th:each="column: ${#numbers.sequence(0, 2)}"
                th:text="${game.board[row][column]}"
                th:onclick="|location.href='@{/game/{id}/{row}/{col}(id=${game.id}, row=${row}, col=${column})}'|"
            ></td>
        </tr>
    </table>

    <a class="btn btn-primary mt-2" href="#" th:href="@{/}">Return to Homepage</a>
</div>
</body>
</html>
